<!DOCTYPE html>
<html>
<head>
  <title>CustomAssetBuildingSample</title>
  <%= stylesheet_link_tag "/build", :media => "all" %>
  <%= javascript_include_tag "/build" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>require('javascripts');</script>
</body>
</html>
